@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 0;
}

p {
  margin-bottom: 0px;
}

::selection {
  background: #ee7171;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 10px;
}

/* navbar */
.my-container {
  padding: 6px 20px;
}

#logo {
  width: 153px;
  height: 53px;
}

.nav-item {
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s ease;
  text-transform: uppercase;
  color: #222;
}

.navbar-collapse {
  transition: none;
}

.nav-item .nav-link:hover {
  transform: translateY(-1px);
  transition: 0.4s ease;
  color: #db4343;
}

.navbar-nav .nav-link.active {
  color: #1e7e43;
}

/* homepage slider */

.splide__slide > img {
  width: 100% !important;
  height: 415px;
  object-fit: cover;
  object-position: bottom;
}

.splide__slide {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.splide__slide h1 {
  position: absolute;
  font-size: 30px;
  font-weight: 500;
  top: 130px;
  color: #000;
  text-shadow: 0 0 5px #fff;
}

.splide__slide button {
  position: absolute;
  top: 242px;
}

/* services - cards */

.links a {
  color: #db4343;
  background-color: #bce4caea;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 10px;
}
.links a:hover {
  color: #1e7e43;
  box-shadow: 1px 1px 7px #bbb;
  transition: 0.5s ease;
}
.cards-section {
  padding: 20px;
}

.section-title {
  padding: 25px 0;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #e84444;
  box-shadow: 0 0 0 5px #fff;
  top: 50px;
}

.section-title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 120px;
  top: 55px;
  background: #1e3d7e;
}

.card-img-top {
  height: 190px;
  object-fit: cover;
}

.card-text {
  font-size: 12px;
  max-height: 90px;
  overflow-y: auto;
}
.card {
  height: 360px;
}
 /* partner - card */
 .section-title2 {
  padding: 25px 0;
  font-weight: 500;
  font-size: 36px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title2::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #e84444;
  box-shadow: 0 0 0 5px #fff;
  top: 68px;
}

.section-title2::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 120px;
  top: 72px;
  background: #1e3d7e;
}


/* about */

.collapse {
  font-size: 15px;
  color: #444;
  padding: 0 20px;
}

/* .list-group > .card-header::before {
  font-family: "Font Awesome";
  content: "\e61a";
} */

/* footer */

.footer {
  background-color: #4267b2;
  color: white;
  margin-top: 25px;
}

.footer-bottom {
  padding: 5px 0;
}

.footer p {
  color: #eee;
  font-size: 13px;
  max-width: 380px;
  min-width: 300px;
}

.footer h4 {
  font-size: 18px;
  margin: 0px 0px 8px 0px;
}

.copy {
  font-size: 10px;
  color: #ddd;
  margin: 20px 0px 16px 0px;
}

.social-links a {
  height: 40px;
  width: 40px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #1e7e43;
  background-color: #ffffff;
}

.gif {
  width: 200px;
}

.gif img {
  margin-left: 0px !important;
  object-fit: cover;
  width: 200px;
}

.pdf {
  color: white;
  transition: 0.2s ease;
}
.pdf:hover {
  color: red;
}
/* contacts */
.linkss{
  display: flex;
  gap: 5%;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  
  
}
.linkss a{
  background-color:  #87e5ab;
  color: #db4343;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: flex;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer-top {
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    gap: 25px;
  }
  .footer-bottom {
    width: 50%;
    margin-bottom: 30px;
    background-color: #4267b2;
  }
  .gif {
    width: 125px;
  }
}
@media (max-width: 1065px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
